.header {
    position: relative;
    max-width: 1600px;
    height: 80px;
    background: #000000;
    z-index: 10;
    margin: 0 auto;
}

.header-container {
    display: flex;
    position: relative;
    max-width: 1160px;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #FFFFFF;
    z-index: 2;
    padding: 0 30px 0 30px;
}

@media screen and (max-width: 1220px) {
    .header-container {
        max-width: 1000px;
    }
}

.burger-menu {
    display: none;
}

@media screen and (max-width: 999px) {
    .burger {
        display: block;
        position: relative;
        width: 18px;
        height: 10px;
        left: 89%;
    }
    .burger span {
        position: absolute;
        background-color: #FFFFFF;
        margin-left: auto;
        width: 100%;
        height: 2px;
        top: 4px;
    }
    .burger::before,
    .burger::after {
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .burger::before {
        top: 0;
    }
    .burger::after {
        bottom: 0;
    }
    .item-2, .item-3, .item-4, .item-5, .item-6, .item-7 {
        display: none;
    }
    .header-container {
        max-width: 640px;
        height: 34px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .header {
        height: 34px !important;
    }
    .item-1 {
        width: 46.86px !important;
        height: 29.03px !important;
        border: none !important;
        font-size: 12.2899px !important;
        line-height: 120% !important;
        padding: 0 !important;
    }
    .bamboo {
        width: 7px;
        height: 17px;
        left: 24px !important;
        top: 13px !important;
    }
    .image-container {
        margin-top: -40px !important;
        height: 373px !important;
        background-image: url("../../assets/images/Giant\ Panda.x1000.png") !important;
        background-repeat: no-repeat;
        background-position-x: 0 !important;
    }
    .ellipse {
        width: 237.6px !important;
        height: 237.6px !important;
        top: -50px;
        right: 70px;
    }
    .panda-1000 {
        display: none !important;
    }
    .watch-container {
        width: 640px;
        margin-left: auto;
        padding: 0 !important;
    }
    .watch-container > .watch {
        width: 255.64px !important;
        height: 204.38px !important;
        font-size: 54.2894px !important;
        margin-right: 0 !important;
        left: -13px !important;
        top: 35px !important;
    }
    .watch-container > .btn-1 {
        left: -325px !important;
        top: -33px;
    }
    .bamboo-cap-container {
        display: none;
    }
}

.flower-640 {
    display: none;
}

@media screen and (max-width: 640px) {
    .image-container {
        background-image: none !important;
    }
    .panda-640 {
        display: block !important;
        position: absolute;
        z-index: -1;
    }
}

@media screen and (max-width: 639px) {
    .header-container {
        max-width: 300px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .burger {
        left: 78.5%;
    }
    .bamboo {
        left: 14px !important;
    }
    .image-container {
        height: 227px !important;
        background-image: url("../../assets/images/Giant\ Panda.x640.png") !important;
        background-repeat: no-repeat;
    }
    .panda-640 {
        display: none !important;
    }
    .watch-container {
        width: 320px;
        margin-left: auto;
        padding: 0 !important;
    }
    .ellipse {
        width: 119.09px !important;
        height: 119.09px !important;
        top: -38px;
        right: 40px;
    }
    .watch-container > .watch {
        width: 128.13px !important;
        height: 102.44px !important;
        font-size: 28px !important;
        line-height: 75% !important;
        top: 53px !important;
        left: -10px !important;
    }
    .watch-container > .btn-1 {
        left: -11px !important;
        top: 87px;
    }
}

@media screen and (max-width: 320px) {
    .panda-320 {
        display: block !important;
    }
    .image-container {
        margin-top: 0px !important;
        background-image: none !important;
    }
    .watch-container > .watch {
        top: -175px !important;
    }
    .watch-container > .btn-1 {
        left: -11px !important;
        top: -140px !important;
    }
}

.panda-320 {
    display: none;
}

.panda-640 {
    display: none;
}

.item-1 {
    font-weight: 400;
    font-size: 19.0145px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    width: 82px;
    height: 52px;
    padding: 3.55px 4.75px;
    text-align: center;
    vertical-align: middle;
}

.item-1:hover {
    cursor: pointer;
}

.bamboo {
    position: absolute;
    top: 46.25%;
    left: 40px;
}

.item-2 {
    margin-left: 63px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.item-2:hover {
    text-decoration: underline;
}

.item-2:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.item-3 {
    margin-left: 58px;
    font-weight: 500;
    font-size: 16px;
}

.item-3:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
}

.item-3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.item-4 {
    margin-left: 58px;
    font-weight: 500;
    font-size: 16px;
}

.item-4:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.item-4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.item-5 {
    margin-left: 58px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.item-5:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.item-5:hover {
    text-decoration: underline;
}

.item-6 {
    margin-left: 58px;
    font-weight: 500;
    font-size: 16px;
}

.item-6:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.item-6:hover {
    text-decoration: underline;
    cursor: pointer;
}

.div-item-7 {
    margin-left: auto;
}

.item-7 {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.item-7:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.item-7:hover {
    text-decoration: underline;
}

.image-container {
    max-width: 1600px;
    height: 780px;
    background-image: url("../../assets/images/Giant Panda.png");
    margin-top: -77px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panda-1000 {
    display: none;
}

@media screen and (max-width: 1000px) {
    .image-container {
        max-width: 1000px;
        background-image: none;
    }
    .panda-1000 {
        position: absolute;
        z-index: -1;
        display: block;
    }
    .watch-container {
        padding-right: 70px;
    }
    .btn-1 {
        left: -75px !important;
    }
}

@media screen and (max-width: 1220px) {
    .image-container {
        background-position-x: -140px;
        height: 584px;
    }
    .ellipse {
        width: 367px;
        height: 367px;
    }
    .watch {
        top: 10px;
        left: 25px;
        width: 400.25px !important;
        height: 320px !important;
        font-size: 85px !important;
        line-height: 75% !important;
        margin-right: 50px !important;
    }
    .btn-1 {
        right: 100px !important;
    }
}

.ellipse-image-container {
    max-width: 1160px;
    max-height: 780px;
    margin-left: auto;
    margin-right: auto;
}

.watch-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.watch {
    top: 59px;
    width: 500.31px;
    height: 400px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.btn-1 {
    position: relative;
    right: 100px;
    top: 14px;
    width: 298px;
    height: 54px;
    border-radius: 25px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.btn-1:hover {
    background: #E47209;
    cursor: pointer;
}

.ellipse {
    position: absolute;
    margin-top: 92px;
    margin-left: -108px;
 }

.yellow {
    color: #FFEE2E;
}

/*Section-2*/

.section-2-container {
    position: relative;
    max-width: 1600px;
    height: 580px;
    display: flex;
    margin-top: 136px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1220px) {
    .section-2-container {
        margin-top: 100px;
        .container {
            height: 569px;
        }
    }
    .section-2 {
        max-width: 940px;
        height: 427px !important;
        align-items: center;
    }
    .bamboo-cap {
        visibility: hidden;
    }
    .bamboo-cap-container {
        width: 455px;
        height: 408px;
        background-image: url(../../assets/images/bamboo-cap.x1000.png);
        background-repeat: no-repeat;
    }
    .text {
        margin-left: 31px !important;
        align-items: center;
        height: 430px;
    }
    .text-4 {
        width: 454px !important;
    }
}

@media screen and (max-width: 999px) {
    .section-2 > .text {
        margin-left: 0 !important;
        max-width: 495px !important;
        height: 367px !important;
    }
    .section-2 > .container {
        padding-left: 20px !important;
        padding-right: 20px !important; 
        max-width: 600px !important;
    }
    .section-2-container {
        height: 450px !important;
        margin-top: 60px !important;
    }
    .section-2-container > .container > .section-2 {
        max-width: 495px !important;
        height: 367px !important;
    }
    .section-2-container > .container {
        margin-left: 0 !important;
        height: 450px !important;
    }
    .flower-640 {
        display: block !important;
        position: absolute;
        right: 0px;
        z-index: 50;
    }
    .text-2 {
        margin-top: 20px;
    }
    .text > .text-3 {
        margin-top: 30px;
    }
    .text-4 {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 639px) {
    .flower-640 {
        display: none !important;
    }
    .flower-320 {
        display: block !important;
        right: 0 !important;
        position: absolute;
        right: 0px;
        top: -28px;
    }
    .section-2-container > .container   {
        max-width: 300px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .section-2 > .text {
        margin-left: 0 !important;
        max-width: 300px !important;
    }
    .section-2-container > .container > .section-2 {
        
        width: 300px !important;
    }
    .text-1 {
        font-size: 24px !important;
        height: 58px !important;
        width: 300px !important;
        margin-top: 40px !important;
    }
    .text-2 {
        height: 63px !important;
        width: 297px !important;
        margin-top: 10px !important;
    }
    .text-3 {
        margin-top: 20px !important;
    }
    .text-4 {
        margin-top: 10px !important;
        height: 198px !important;
        width: 300px !important;
    }
}

@media screen and (max-width: 320px) {
    .section-2-container {
        height: 410px !important;
    }
    .section-2 {
        margin-top: -40px !important;
    }
    .flower-320 {
        top: -67px !important;
    }
}

.flower-320 {
    display: none;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.section-2 {
    display: flex;
    width: 1160px;
    height: 403px;
    flex-direction: row;
}

.flower {
    position: absolute;
    left: 1397px;
    align-self: center;
    padding-bottom: 37px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1600px) {
    .flower {
        display: none;
    }
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 87px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333B41
}

.text-1 {
    width: 465px;
    height: 116px;
    font-size: 48px;
    line-height: 120%;
    margin: 0;
}

.text-2 {
    width: 465px;
    height: 42px;
    font-size: 16px;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 0;
}

.text-3 {
    width: 217px;
    height: 29px;
    font-size: 24px;
    line-height: 120%;
    margin-top: 54px;
    margin-bottom: 0;
    align-self: flex-start;
}

.text-4 {
    width: 465px;
    height: 105px;
    font-size: 16px;
    line-height: 140%;
    margin-top: 34px;
    margin-bottom: 0;
}

/*Section-3*/

.section-3-container {
    max-width: 1600px;
    height: 1110px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.section-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-width: 1158px;
    height: 872px;
    font-family: Roboto, sans-serif;
    font-style: normal;
}

@media screen and (max-width: 1566px) {
    .section-3-container {
        height: 1220px;
    }
    .pet {
        margin-bottom: 92px;
    }
    .arrow-left {
        top: 440px !important;
    }
    .arrow-right {
        top: 440px !important;
    }
    .choose {
        margin-top: 170px !important;
        margin-bottom: 200px !important;
    }
    .palm {
        transform: scale(0.43863636363);
        top: 900px !important;
        left: -400px !important;
    }
    .strel {
        top: 1000px !important;
        right: -65px !important;
        transform: scale(0.65489130434);
        }
}

.pet {
    box-sizing: border-box;
    border: 1px solid #FA6F32;
    border-radius: 5px;
    width: 366px;
    height: 426px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1220px) {
    .section-3-container {
        height: 1075px;
        }
    .section-3 {
        height: 801px !important;
        }
    .pet {
        width: 294px;
        height: 354px;
    }
    .pet-picture {
        width: 294px;
        height: 294px;
    }
    .arrow-left {
        top: 370px !important;
        left: 355px !important;
    }
    .arrow-right {
        top: 370px !important;
        right: 355px !important;
    }
    .meal-icon {
        top: 305px !important;
        left: 245px !important;
        right: 13px;
        bottom: 13px;
    }
    .mf-icon {
        top: 305px !important;
        left: 235px !important;
        right: 14px;
        bottom: 14px;
    }
    .choose {
        margin-top: 80px !important;
        margin-left: 34.4% !important;
        margin-bottom: 140px !important;
    }
    .palm {
       top: 745px !important;
    }
    .strel {
        top: 850px !important;
    }
    .pet {
        margin-bottom: 0 !important;
    }
    .alligators {
        display: block !important;
    }
    .tt-sloth {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .section-3-container {
        height: 970px;
    }
    .section-3-container > .container {
        padding-left: 20px !important;
        padding-right: 20px !important; 
        max-width: 600px !important;
    }
    .section-3 > .arrow-left {
        top: 345px !important;
        left: 245px !important;
    }
    .section-3 > .arrow-right {
        top: 345px !important;
        right: 245px !important;
    }
    .section-3 {
        height: 756px !important;
    }
    .pet {
        width: 285px;
        height: 332px;        
    }
    .pet > .pet-name {
        margin-top: 6px;
        margin-left: 12px;
        font-size: 12.4695px;
    }
    .pet > .place {
        font-size: 11.6901px;
        margin-left: 12px;
    }
    .pet-picture {
        width: 285.24px;
        height: 285.24px;
    }
    .cheetahs {
        display: none;
    }
    .penguins {
        display: none;
    }
    .mf-icon {
        top: 293px !important;
        width: 37.41px;
        height: 29.62px;
    }
    .meal-icon {
        top: 295px !important;
        width: 25.72px;
        height: 28.84px;
    }
    .choose {
        margin-top: 60px !important;
        margin-left: 150px !important;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%) !important;
    }
    .palm {
        display: none;
    }
    .strel {
        display: none;
    }

    .palm-640 {
        display: block !important;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .strel-640 {
        display: block !important;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 639px) {
    .section-3-container {
        margin-top: 20px;
        height: 1522px;
    }
    .arrow-left {
        display: none;
    }
    .arrow-right {
        display: none;
    }
    .section-3-container > .container {
        padding-left: 10px !important;
        padding-right: 24.76px !important; 
        max-width: 285.24px !important;
    }
    .pet {
        margin-bottom: 20px !important;
    }
    .strel-640 {
        display: none !important;
    }
    .palm-640 {
        display: none !important;
    }
    .palm-320 {
        display: block !important;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .strel-320 {
        display: block !important;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .choose {
        margin-top: 650px !important;
        margin-left: 0 !important;
    }
}

.palm-320 {
    display: none;
}

.strel-320 {
    display: none;
}

.palm-640 {
    display: none;
}

.strel-640 {
    display: none;
}

.alligators {
    display: none;
}

.pet-picture:hover {
    position: absolute;
    transform: scale(1.1);
    z-index: -1;
    filter: brightness(70%)
}

.pet-name {
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}

.pet-name:hover {
    z-index: 3;
}

.place {
    margin-top: 0;
    margin-left: 16px;
    font-weight: 300;
    font-size: 15px;
}

.meal-icon {
    position: absolute;
    top: 376px;
    left: 321px;
    right: 13px;
    bottom: 13px;
}

.mf-icon {
    position: absolute;
    top: 374px;
    left: 310px;
    right: 14px;
    bottom: 14px;
}

.arrow-left {
    width: 62px;
    height: 62px;
    border-radius: 50px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    transform: rotate(180deg);
    position: absolute;
    top: 405px;
    left: 138px;
}

.arrow-left:hover {
    background: #E47209;
    cursor: pointer;
}

.arrow-right {
    width: 62px;
    height: 62px;
    border-radius: 50px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    position: absolute;
    top: 405px;
    right: 138px;
}

.arrow-right:hover {
    background: #E47209;
    cursor: pointer;
}

.palm {
    position: absolute;
    top: 650px;
    left: -540px;
}

.strel {
    position: absolute;
    top: 835px;
    right: 0;
}

.choose {
    margin-top: 83px;
    margin-left: 430px;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    border: none;
    color:#FFFFFF;
    text-transform: uppercase;
}

.choose:hover {
    background: #E47209;
    cursor: pointer;
}

/*Section-4*/

.section-4 {
    height: 1004px;
    max-width: 1600px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.inner-block {
    height: 840px;
    width: 1160px;
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    font-family: Roboto, sans-serif;
    font-style: normal;
    position: relative;
    margin-bottom: 80px;
}

@media screen and (max-width: 1220px) {
    .section-4 {
        height: 876px;
    }
    .inner-block {
        width: 940px;
        height: 796px !important;
        margin-top: 30px !important;
    }
    .sent-1 {
        margin-bottom: 20px !important;
        padding-top: 30px !important;
    }
    .sent-2 {
        margin-top: 0;
        margin-left: 49px !important;
        margin-bottom: 20px !important;
    }
    .sent-3 {
        margin-left: 49px !important;
    }
    .sent-3-br {
        display: block !important;
    }
    .sent-4 {
        margin-left: 49px !important;
        margin-bottom: 40px !important;
    }
    .sent-4-br {
        display: block !important;
    }
    .sent-4-br-1600 {
        display: none;
    }
    .sent-5 {
        margin-top: 0;
        margin-bottom: 40px;
    }
    .btn-2 {
        top: 690px !important;
        left: 325px !important;
    } 
}

@media screen and (max-width: 999px) {
    .section-4 {
        height: 781px;
        padding-top: 20px;
    }
    .inner-block {
        height: 741px !important;
        max-width: 640px;
        margin-top: 0 !important;
        margin-bottom: 20px;
        padding-top: 10px;
    }
    .section-4 > .container-4 > {
        padding-left: 0 !important;
        padding-right: 0 !important; 
        max-width: 600px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        }
    .sent-1 {
        margin-top: 0;
        padding-top: 10px !important;
        font-size: 42px !important;
    }
    .sent-2 {
        font-size: 22px !important;
        margin-left: 20px !important;
    }
    .sent-3 {
        width: 600px;
        margin-left: 20px !important;
    }
    .sent-3-br {
        display: none !important;
    }
    .sent-4 {
        width: 600px !important;
        margin-left: 20px !important;
        margin-bottom: 30px !important;
    }
    .sent-4-br {
        display: none !important;
    }
    .sent-5 {
        margin-bottom: 20px;
    }
    .pay-vector {
        display: none;
    }
    .middle-icon {
        margin-left: 42px;
        margin-right: 42px;
    }
    .btn-2 {
        top: 630px !important;
        left: 170px !important;
    }
    .green-arrow-1 {
        display: block !important;
        position: absolute;
        left: 163px;
        top: 339px;
    }
    .green-arrow-2 {
        display: block !important;
        position: absolute;
        left: 373px;
        top: 339px;
    }
}

@media screen and (max-width: 639px) {
    .section-4 {
        height: 1082px !important;
    }
    .section-4 > .container-4 {
        max-width: 300px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .inner-block {
        height: 1042px !important;
        max-width: 300px !important;
        padding-top: 20px !important;
    }
    .sent-1 {
        font-size: 24px !important;
        padding-top: 0 !important;
        margin-bottom: 10px !important;
    }
    .sent-2 {
        font-size: 18px !important;
        margin-left: 0 !important;
        text-align: center;
    }
    .sent-3 {
        display: none;
    }
    .sent-4 {
        display: none ;
    }
    .sent-5 {
        font-size: 24px !important;
    }
    .payment {
        flex-direction: column !important;
    }
    .card-icon, .payment-zoo, .monkey-icon {
        margin-bottom: 10px !important;
    }
    .pay-proc {
        height: 222px !important;
        margin-bottom: 25px !important;
    }
    .pay-proc > p {
        margin-top: 0;
    }
    .middle-icon {
        margin-bottom: 30px !important;
    }
    .btn-2 {
        top: 965px !important;
        left: 0 !important;
    }

    .green-arrow-1 {
        transform: rotate(85deg);
        top: 388px;
        left: 205px;
    }
    .green-arrow-2 {
        transform: rotate(85deg);
        top: 636px;
        left: 205px;
    }
}

.green-arrow-1 {
    display: none;
}

.green-arrow-2 {
    display: none;
}

.sent-1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 45px;
}

.sent-2 {
    margin-left: 99px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 40px;
}

.sent-3 {
    margin-left: 99px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 10px;
}

.sent-3-br {
    display: none;
}

.sent-4 {
    margin-left: 99px;
    width: 875px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 60px;
    margin-top: 12px;
}

.sent-4-br {
    display: none;
}

.esf {
    text-decoration: underline;
    text-decoration-color: #FE9013;
    text-underline-offset: 5px;
    color: inherit;
}

.sent-5 {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.pay-proc {
    width: 168px;
    height: 244px; 
}

.card-icon {
    width: 168px;
    height: 168px; 
    box-sizing: border-box;
    border: 1px solid #F9804B;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 30px;
}

.payment-zoo {
    width: 168px;
    height: 168px; 
    box-sizing: border-box;
    border: 1px solid #F9804B;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 30px;
}

.monkey-icon {
    width: 168px;
    height: 168px; 
    box-sizing: border-box;
    border: 1px solid #F9804B;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 30px;
}

.pay-vector {
    position: relative;
    bottom: 40px;
    margin-right: 31px;
    margin-left: 30px;
}

.card-pay {
    margin: 54px 30px;
}

.card-zoo {
    margin: 38px 41px 35px 41.23px;
}

.card-monkey {
    margin: 48px 21.25px 48.4px 22px;
}

.btn-2 {
    position: absolute;
    top: 722px;
    right: 431px;
    left: 431px;
    height: 54px;
    width: 298px;
    border-radius: 25px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.btn-2:hover {
    background: #E47209;
    cursor: pointer;
}

/* Section-5*/

.section-5-container {
    position: relative;
    max-width: 1600px;
    height: 777px;
    margin-left: auto;
    margin-right: auto;
}

.section-5 {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    height: 779px;
    max-width: 1160px;
    font-family: Roboto, sans-serif;
    font-style: normal;
}

.container-5 {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.testi-header {
    margin-top: 0;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    width: 206px;
    height: 47px;
    text-align: center;
    align-self: center;
}

.testimonials {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1192px) {
    .section-5-container {
        height: 760px !important;
    }
    .section-5 {
        margin-top: 100px;
        height: 742px !important;
    }
    .user-mila {
        display: none;
    }
    progress {
        width: 390px !important;
        height: 8px !important;
        margin-top: 20px !important;
    }
    progress::before {
        width: 390px !important;
    }
    .leaf {
        display: none;
    }
    .leaf-1000 {
        display: block !important;
        position: absolute;
        top: 520px;
        right: 0px;
        z-index: -1;
    }
    .feedback {
        margin-top: 52px !important;
    }
}

@media screen and (max-width: 999px) {
    .section-5-container {
        height: 608px !important;
    }
    .section-5 {
        margin-top: 60px;
        height: 608px !important;
    }
    .container-5 {
        padding-left: 20px !important;
        padding-right: 20px !important; 
        max-width: 600px !important;
        }
    .testi-header {
        margin-bottom: 30px;
    }
    .testimonials {
        flex-direction: column;
    }
    .frames {
        height: 109px !important;
        width: 600px !important;
        margin-bottom: 15px;
    }
    .frames::before {
        height: 113px !important;
        width: 604px !important;
    }
    .testi-text {
        height: 38px !important;
        width: 553px !important;
        overflow: hidden;
    }
    progress {
        display: none;
    }
    .feedback {
        margin-top: 25px !important;
        margin-left: 180px;
        width: 240px !important;
        height: 54px !important;
    }
    .leaf-1000 {
        display: none !important;
    }
    .leaf-640 {
        display: block !important;
        position: absolute;
        top: 470px;
        right: 0px;
        z-index: -1;
    }
}

@media screen and (max-width: 639px) {
    .section-5-container {
        height: 550px !important;
    }
    .container-5 {
        max-width: 300px;
        height: 550px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .section-5 {
        max-width: 300px;
        height: 550px !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px !important;
    }
    .testi-header {
        font-size: 24px;
        margin-bottom: 20px;
        height: 29px;
        width: 138px;
    }
    .frames {
        height: 109px !important;
        width: 299px !important;
    }
    .frames::before {
        height: 113px !important;
        width: 304px !important;
    }
    .testi-text {
        height: 38px !important;
        width: 252px !important;
        overflow: hidden !important;
    }
    .feedback {
        margin-left: 30px;
        margin-top: 15px !important;
    }
    .leaf-640 {
        display: none !important;
    }
    .leaf-320 {
        display: block !important;
        position: absolute;
        top: 485px;
        right: 0px;
        z-index: -1;
    }
}

.leaf-320 {
    display: none;
}

.leaf-640 {
    display: none;
}

.frames {
    width: 264px;
    height: 387px;
    box-sizing: border-box;
    background: #F1F3F2;
    border-radius: 20px;
    position: relative;
}

.frames::before {
    top: -2px; left: -2px;
    content: '';
    position: absolute;
    width: 268px;
    height: 391px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: inherit;
    z-index: -1;
}

.testi-text {
    width: 237px;
    height: 309px;
    margin: 63px 15px 19px 16px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    margin: 10px 15px 19px 16px;
}

.users {
    width: 37px;
    height: 37px;
    margin-left: 16px;
    margin-top: 15px;
}

.user-name {
    position: absolute;
    top: 15px;
    left: 63px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.location {
    position: absolute;
    top: 35px;
    left: 63px;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.dot {
    position: absolute;
    top: 35px;
    left: 156px;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
    align-self: center;
}

.date{
    position: absolute;
    top: 35px;
    left: 166px;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

progress {
    width: 597px;
    height: 6px;
    margin-top: 22px;
    margin-left: 280px;
    border-radius: 5px;
    position: relative;
}

progress:hover {
    cursor: pointer;
}

progress::before {
    content: '';
    top: -1px; left: -0.7px;
    position: absolute;
    width: 599px;
    height: 8px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: inherit;
    z-index: -1;
}

progress::-webkit-progress-bar {
    background: #F5F7F6;
    border-radius: 5px;
  }
  
progress::-webkit-progress-value {
    background: #FE9013;
    border-radius: 5px;
    &:hover {
        background: #E47209;
    }
  }

progress::-moz-progress-bar {
    background: #FE9013;
    border-radius: 5px;
    &:hover {
        background: #E47209;
    }
}

.feedback {
    width: 298px;
    height: 54px;
    margin-top: 31px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    border: none;
}

.feedback:hover {
    background: #E47209;
    cursor: pointer;
}

.leaf {
    position: absolute;
    top: 500px;
    right: 0px;
    z-index: -1;
}
.leaf-1000 {
    display: none;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
    height: 443px;
    max-width: 1600px;
    background: #111115;
    font-family: Roboto, sans-serif;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    display: flex;
    position: relative;
    max-width: 1160px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}



@media screen and (max-width: 1220px) {
    .footer-container {
        max-width: 939px;
        padding-left: 40px;
        padding-right: 18px;
    }
    .footer-navigation {
        margin-left: -10px !important;
        margin-right: 0 !important;
    }
    .copyright {
        margin-left: -85px;
    }
    .designer {
        margin-left: 155px !important;
    }
    .bamboo-footer {
        left: 51px !important;
    }
    .fb-icon {
        left: 49px !important;
    }
    .tw-icon {
        left: 46px !important;
    }
    .ig-icon {
        left: 45px !important;
    }
    .yt-icon {
        left: 45px !important;
    }
}

@media screen and (max-width: 999px) {
    .footer {
        height: 282px;
    }
    .footer-container {
        width: 600px;
        height: 258px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo {
        margin-top: 12px !important;
    }
    .bamboo-footer {
        top: 35px;
        left: 31px !important;
    }
    .donate {
        margin-top: 32px !important;
    }
    .network {
        display: none;
    }
    .subscribe {
        display: none;
    }
    .email {
        display: none;
    }
    .submit {
        display: none;
    }
    .footer-navigation {
        margin-left: -298px !important;
        margin-bottom: 0 !important;
    }
    .designer {
        margin-top: 168px !important;
        margin-left: 150px !important;
    }
    .block-net {
        width: 20px;
        position: relative;
        bottom: 180px;
        left: 577px !important; 
    }
    .fb-icon {
        top: 5px !important;
        left: 9px !important;
    }
    .tw-icon {
        top: 42px !important;
        left: 6px !important;
    }
    .ig-icon {
        top: 77px !important;
        left: 5.5px !important;
    }
    .yt-icon {
        top: 115px !important;
        left: 4px !important;
    }
}

@media screen and (max-width: 639px) {
    .footer {
        height: 334px;
    }
    .footer-container {
        max-width: 320px;
        height: 334px;
        padding-left: 0;
        padding-right: 0;
    }
    .logo {
        border: none !important;
        height: 23px !important;
        width: 150px !important;
        padding: 0 !important;
        margin-left: 85px;
        margin-top: 20px !important;
    }
    .bamboo-footer {
        top: 16px;
        left: 168px !important;
    }
    .block-net {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        width: 194px;
        height: 30px;
        top: -155px;
        left: 63px !important;
    }
    .donate {
        margin-left: 10px;
        margin-top: 86px !important;
    }
    .circle {
        width: 26px;
        height: 26px;
    }
    .circle-1 {
        width: 26px;
        height: 26px;
    }
    .fb-icon {
        top: 5px !important;
        left: 9px !important;
    }
    .tw-icon {
        top: 6px !important;
        left: 62px !important;
    }
    .ig-icon {
        top: 5px !important;
        left: 117px !important;
    }
    .yt-icon {
        top: 7px !important;
        left: 172px !important;
    }
    .alisa {
        font-size: 15px !important;
        width: 206px !important;
    }
    .rss {
        font-size: 15px !important;
        width: 214px !important;
    }
    .designer {
        position: absolute;
        left: 100px;
        top: 50px;
        width: 215px !important;
        margin-left: 0 !important;
    }
    .copyright {
        margin-bottom: 0 !important;
        height: 100px;
        width: 20px !important;
    }
    .footer-navigation {
        position: absolute;
        width: 278px !important;
        height: 15px;
        margin-left: 0!important;
        top: 300px;
        left: 20px;
    }
}

.social-net {
    width: 298px;
}

.logo {
    margin-top: 41px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 19.0145px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    width: 82px;
    height: 52px;
    padding: 3.55px 4.75px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.logo:hover {
    cursor: pointer;
}

.bamboo-footer {
    position: absolute;
    bottom: 358px;
    left: 40px;
}

.network {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 12px;
}

.donate {
    margin-top: 68px;
    margin-bottom: 44px;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.donate:hover {
    background: #F9804B;
    cursor: pointer;
}


.block-net {
    display: flex;
    flex-direction: column;
}

.icon-net {
    display: flex;
    margin-bottom: 10px;
}

.icon-net:hover {
    cursor: pointer;
}

.circle {
    position: relative;
}

.fb-icon {
    position: absolute;
    top: 264px;
    left: 39.5px;
}

.tw-icon {
    position: absolute;
    top: 301px;
    left: 35.5px;
}

.ig-icon {
    position: absolute;
    top: 336px;
    left: 35.5px;
}

.yt-icon {
    position: absolute;
    top: 373px;
    left: 35px;
}

.footer-navigation {
    margin-left: 101px;
    width: 362px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.foot-about {
    color: #FFFFFF;
    text-decoration: none;
}

.foot-about:hover {
    text-decoration: underline;
}

.foot-about:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.foot-map {
    color: #FFFFFF;
    text-decoration: none;
}

.foot-map:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
}

.foot-map:hover {
    text-decoration: underline;
    cursor: pointer;
}

.foot-zoos {
    color: #FFFFFF;
    text-decoration: none;
}

.foot-zoos:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
}

.foot-zoos:hover {
    text-decoration: underline;
    cursor: pointer;
}

.foot-contact {
    color: #FFFFFF;
    text-decoration: none;
}

.foot-contact:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
}

.foot-contact:hover {
    text-decoration: underline;
    cursor: pointer;
}

.copyright {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 367px;
    font-family: Roboto, sans-serif;
    font-style: normal;
}

.subscribe {
    margin-top: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.email {
    padding: 5px;
    background: #111115;
    color: #BDBDBD;
    border-radius: 2px;
    border: 0.7px solid #F9804B;
    width: 213px;
    height: 30px;
}

.submit {
    margin-left: 8px;
    width: 129px;
    height: 42.4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
}

.submit:hover {
    background: #cacece;
    cursor: pointer;
}

.designer {
    margin-top: 216px;
    margin-left: 139px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    width: 228px;
}

.alisa {
    margin-top: 0;
    margin-bottom: 10px;
    width: 230px;
    height: 21px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}

.rss {
    margin-top: 0;
    margin-bottom: 0;
    width: 235px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}